h2 {
    padding-block: 40px;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    padding-bottom: 40px;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}
