@use "../abstracts/" as *;

.contact__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    min-width: 0px;

    input,
    textarea,
    button {
        background-color: #434a4f;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        border: none;
        margin-block: 10px;
    }

    input,
    textarea {
        padding: 10px;
        border-radius: 10px;
        color: black;
        width: 400px;

        &::placeholder {
            font-style: italic;
            color: #8b8b8b;
        }

        @media (max-width: 700px) {
            width: 300px;
        }
    }

    textarea {
        height: 200px;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 5px;
        color: #8b8b8b;

        &:hover {
            cursor: pointer;
            scale: 1.05;
            color: white;
            background-color: darken($color: #8b8b8b, $amount: 10%);
        }
    }
}

.contact__form__inputs {
    display: flex;
    flex-direction: column;
}
